<!-- About Section -->
<div class="w3-container w3-padding-32" id="about">
  <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
  <p><%= ENV['about_us'] %></p>
</div>

<div class="w3-row-padding w3-grayscale my-team">
  <% @team_members.each_with_index do |team_member| %>
    <div class="w3-col l3 m6 w3-margin-bottom team-member">
      <div style="background-image: url(<%= rails_blob_path(team_member.image , only_path: true) %>)" class="profile-image"></div>
      <h3><%= team_member.full_name %> ( <%= team_member.nickname %> )</h3>
      <p class="w3-opacity"><%= team_member.job_role %></p>
      <p><%= team_member.description.html_safe %></p>
      <p>
        <i class="fas fa-phone-alt"></i>
        :
        <%= team_member.primary_contact_number %>
        <%= " / #{team_member.secondary_contact_number}" unless team_member.secondary_contact_number.empty? %>
      </p>
      <p>
        <i class="fa fa-envelope"></i>
        :
        <%= team_member.email %>
      </p>
      <p>
        <a class="w3-button w3-light-grey w3-block" href="tel:<%= team_member.primary_contact_number %>">Call Now</a>
      </p>
    </div>
  <% end %>
</div>