<!-- About Section -->
<div class="w3-center w3-padding-64" id="about">
  <span class="w3-xlarge w3-border-dark-grey w3-padding-16">About</span>
  <p><%= ENV['about_us'] %></p>
</div>

<div class="w3-row-padding my-team">
  <% @team_members.each_with_index do |team_member| %>
    <div class="w3-third w3-margin-bottom team-member">
      <div class="w3-card-4">
        <div style="background-image: url(<%= rails_blob_path(team_member.image , only_path: true) %>)" class="profile-image"></div>
        <div class="w3-container">
          <h3><%= team_member.full_name %></h3>
          <p class="w3-opacity"><%= team_member.job_role %></p>
          <p><%= team_member.description.html_safe %></p>
          <p><span><i class="fa fa-envelope"></i></span><%= team_member.email %></p>
          <p><a class="w3-button w3-light-grey w3-block" href="tel:<%= team_member.primary_contact_number %>">Call Now</a></p>
        </div>
      </div>
    </div>
  <% end %>
</div>