<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <div class="w3-row w3-card-4">
    <div class="w3-col m6">
      <%= form_for @contact_us, url: contact_us_path, method: :post, html: { autocomplete: false, class: "w3-container w3-padding-16 w3-white" } do |form| %>
        <span class="w3-xlarge w3-border-dark-grey w3-padding-16">Contact Us</span>
        <div class="w3-section">      
          <label>Name</label>
          <%= form.text_field :name, class: "w3-input w3-border", required: true %>
        </div>
        <div class="w3-section">      
          <label>Email</label>
          <%= form.text_field :email, class: "w3-input w3-section w3-border", required: true  %>
        </div>
        <div class="w3-section">      
          <label>Subject</label>
          <%= form.text_field :subject, class: "w3-input w3-section w3-border", required: true %>
        </div>
        <div class="w3-section">      
          <label>Message</label>
          <%= form.text_field :comment, class: "w3-input w3-section w3-border", required: true %>
        </div>  
        <%= recaptcha_tags %>
        <%= form.submit "SEND MESSAGE", class: "w3-button w3-right w3-black" %>
      <% end %>
    </div>
    <div class="w3-col m6 w3-right">
      <div class="w3-container w3-padding-16 w3-white" id="mapid">
      </div>
    </div>
  </div>
</div>


<!-- Image of location/map -->


<script src="leaflet/leaflet.js"></script>

<script>
  var map = L.map('mapid', {scrollWheelZoom: false}).setView([6.8058884, 79.9429199], 14);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  L.marker([6.8058884, 79.9429199]).addTo(map)
      .bindPopup("<div class='map-label'>ALPHA ENGINEERING SERVICE<br>88, 21 Samindu Ln, Piliyandala 10300</div>")
      .openPopup();
</script>