<!-- Contact Section -->
<div class="w3-container w3-padding-32" id="contact">
  <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
  <p>Lets get in touch and talk about your next project.</p>
  <%= form_with url: contact_us_path, method: :post do |form| %>
    <%= form.text_field :name, class: "w3-input w3-border", placeholder: "Name", required: true %>
    <%= form.text_field :email, class: "w3-input w3-section w3-border", placeholder: "Email", required: true  %>
    <%= form.text_field :subject, class: "w3-input w3-section w3-border", placeholder: "Subject", required: true %>
    <%= form.text_field :comment, class: "w3-input w3-section w3-border", placeholder: "Comment", required: true %>
    <%= recaptcha_tags %>
    <%= form.submit "SEND MESSAGE", class: "w3-button w3-black w3-section" %>
  <% end %>

</div>

<!-- Image of location/map -->
<div class="w3-container">
  <div id="mapid"></div>
</div>

<script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script>
  var map = L.map('mapid').setView([6.8058884, 79.9429199], 14);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  L.marker([6.8058884, 79.9429199]).addTo(map)
      .bindPopup("<div class='map-label'>ALPHA ENGINEERING SERVICE<br>88, 21 Samindu Ln, Piliyandala 10300</div>")
      .openPopup();
</script>