<div class="w3-container w3-theme-l5 status-content">
  <div class="w3-row">
    <div class="w3-col m6">
      <div class="w3-container w3-row w3-center w3-dark-grey w3-padding-16">
        <div class="w3-quarter">
          <span class="w3-xxlarge">14+</span>
          <br>Ongoing
        </div>
        <div class="w3-quarter">
          <span class="w3-xxlarge">55+</span>
          <br>Completed
        </div>
        <div class="w3-quarter">
          <span class="w3-xxlarge">89+</span>
          <br>Happy Clients
        </div>
        <div class="w3-quarter">
          <span class="w3-xxlarge">150+</span>
          <br>Meetings
        </div>
      </div>

      <div class="w3-row w3-center">
        <a href="javascript:void(0)" onclick="openStatus(event, 'ongoing');">
          <div class="w3-padding-16 w3-large w3-col m6 tablink w3-bottombar w3-hover-light-grey w3-padding w3-border-color">Ongoing</div>
        </a>
        <a href="javascript:void(0)" onclick="openStatus(event, 'completed');">
          <div class="w3-padding-16 w3-large w3-col m6 tablink w3-bottombar w3-hover-light-grey w3-padding">Completed</div>
        </a>
      </div>
      <div class="w3-row">
        <div id="ongoing" class="w3-container projects">
          <% @ongoing.each do |ongoing_project| %>
            <div class="w3-card w3-white w3-margin project-card" id="<%= "proj#{ongoing_project.id}" %>" onclick="showMeOnMap(event, <%= ongoing_project.lat.to_s %>, <%= ongoing_project.lng.to_s %>);">
              <div class="w3-container">
                <h3><%= ongoing_project.title %></h3>
                <p><%= ongoing_project.description %></p>
                <p>Start date : <%= ongoing_project.start_date.to_date %></p>
                <p><%= ongoing_project.address %></p>
              </div>
            </div>
          <% end %>
        </div>
        <div id="completed" class="w3-container projects" style="display:none">
          <% @completed.each do |completed_project| %>
            <div class="w3-card w3-white w3-margin project-card" id="<%= "proj#{completed_project.id}" %>" onclick="showMeOnMap(event, <%= completed_project.lat.to_s %>, <%= completed_project.lng.to_s %>);">
              <div class="w3-container">
                <h3><%= completed_project.title %></h3>
                <p><%= completed_project.description %></p>
                <p>Start date : <%= completed_project.start_date.to_date %></p>
                <p>Completed date : <%= completed_project.end_date.to_date %></p>
                <p><%= completed_project.address %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="w3-col m6">
      <div style="">
        <div class="w3-white" id="projects-map">
        </div>
      </div>
    </div>
  </div>
</div>

<script src="leaflet/leaflet.js"></script>

<script>
  const initZoomLevel = 11;
  var projectsMap = L.map('projects-map', {scrollWheelZoom: false, zoomControl: false})
                     .setView([6.8058884, 79.9429199], initZoomLevel)
                     
  L.control.zoom({position:'bottomleft'}).addTo(projectsMap);

  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'pk.eyJ1Ijoia2F1c2hpa3MiLCJhIjoiY2tqazIwZHN0MGExdjJzczJnZHdra2JweiJ9.DwDqTWB8kTASzJkmx13zOA'
    }
  ).addTo(projectsMap);

  var markerGroup = L.layerGroup().addTo(projectsMap);

  function loadMap(status) {
    locations = getLocations(status);
    markerGroup.clearLayers();

    locations.forEach((data, indx) => {
      let marker = L.marker([data.lat.toString(), data.lng.toString()]).addTo(markerGroup).on('click', function(e) {
          clickZoom(e);
          showMe(e, status);
        }
      );
      // bubble label
      let label = "<div style='text-align:center;'><b>"+data.title+"</b><br>"+address(data)+"</div>";
      marker.bindPopup(label).openPopup();
      projectsMap.setView(marker.getLatLng(), initZoomLevel);
    });
  }

  function clickZoom(e) {
    let zoom = projectsMap.getZoom()
    projectsMap.setView(e.target.getLatLng(), zoom);
  }

  function showMeOnMap(e, lat, lng) {
    let zoom = projectsMap.getZoom();
    var latLng = L.latLng(lat, lng);
    projectsMap.setView(latLng, zoom);
    markerGroup.eachLayer(function (layer) {
      markerLatLng = layer._latlng;
      if(markerLatLng.lat === lat && markerLatLng.lng === lng) {
        e.currentTarget.classList.remove("animate-opacity");
        layer.openPopup();
        e.currentTarget.classList.add("animate-opacity");
      }
    });
  }

  function showMe(e, status) {
    let latLng = e.target.getLatLng();
    locations = getLocations(status);

    locations.forEach(data => {
      if(data.lat === latLng.lat && data.lng === latLng.lng) {
        let card = document.getElementById("proj" + data.id.toString());
        card.classList.remove("animate-opacity");
        card.scrollIntoView({behavior: "smooth", block: "center", inline: "center"});
        card.classList.add("animate-opacity");
      }
    })
  }

  function getLocations(status) {
    return status === "ongoing" ? gon.ongoing : gon.completed;
  }

  function removeAnimation() {
    [...document.getElementsByClassName('project-card')].map(item => item.classList.remove('animate-opacity'));
  }

  function address(project) {
    return [project.street, project.city, project.zipcode].filter(Boolean).join(", ");
  }

  function openStatus(evt, status) {
    var i, x, tablinks;
    x = document.getElementsByClassName("projects");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-border-color", "");
    }
    document.getElementById(status).style.display = "block";
    evt.currentTarget.firstElementChild.className += " w3-border-color";

    removeAnimation();
    loadMap(status);
  }

  loadMap("ongoing");
</script>