<!-- Footer -->
<footer class="w3-black w3-padding-32">
  <div class="w3-row-padding">
    <div class="w3-col w3-quarter">
      <h5>Follow Us</h5>
      <div class="follow-us-links">
        <a class="w3-button w3-large w3-light-grey" href="<%= ENV['facebook_url'] %>" title="Facebook"><i class="fab fa-facebook"></i></a>
        <a class="w3-button w3-large w3-light-grey" href="<%= ENV['youtube_url'] %>" title="YouTube"><i class="fab fa-youtube"></i></a>
        <a class="w3-button w3-large w3-light-grey" href="<%= ENV['instagram_url'] %>" title="Instagram"><i class="fab fa-instagram"></i></a>
        <a class="w3-button w3-large w3-light-grey" href="<%= ENV['tiktok_url'] %>" title="TikTok"><i class="fab fa-tiktok"></i></a>
        <a class="w3-button w3-large w3-light-grey w3-hide-small" href="<%= ENV['linkedin_url'] %>" title="Linkedin"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>

    <div class="w3-col w3-quarter footer-company-details text-left company">
      <h5>Company</h5>
      <ul>
        <li><a href="#" class="text-decoration-none">Terms of service</a></li>
        <li><a href="#" class="text-decoration-none">Privacy policy</a></li>
        <li><a href="#" class="text-decoration-none">Projects</a></li>
        <li><a href="#" class="text-decoration-none">Frequently Asked Questions (FAQ)</a></li>
      </ul>
      <%# <div class="company-log"></div> %>
    </div>

    <div class="w3-col w3-quarter text-left company">
      <h5>Working Hours</h5>
      <div class="working-hours">
        <div class="days">
          <ul>
            <li>Monday - Firday</li>
            <li>Saturday</li>
            <li>Sunday</li>     
          </ul>
        </div>
        <div class="time">
          <ul>
            <li>8AM–8PM</li>
            <li>8AM–2PM</li>
            <li>Closed</li>     
          </ul>
        </div>
      </div>
    </div>

    <div class="w3-col w3-quarter text-left company">
      <h5>ALPHA ENGINEERING SERVICE</h5>
      <ul>
        <li><a class="text-decoration-none" href="https://www.google.com/maps/dir//ALPHA%20ENGINEERING%20SERVICE"><i class="fa fa-fw fa-map-marker"></i>88, 21 Samindu Ln, Piliyandala 10300</a></li>
        <li><a class="text-decoration-none" href="tel:+94716862884"><i class="fa fa-fw fa-phone"></i>071 686 2884</a></li>
        <li><a class="text-decoration-none"  href="mailto:alphaengineeringservices@gmail.com"><i class="fa fa-fw fa-envelope"></i>alphaengineeringservices@gmail.com</a></li>
        <li>REG NO : 123456789</li>  
      </ul>
    </div>
  </div>
</footer>
