<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <h4>Follow Us</h4>
  <a class="w3-button w3-large w3-light-grey" href="<%= ENV['facebook_url'] %>" title="Facebook"><i class="fab fa-facebook"></i></a>
  <a class="w3-button w3-large w3-light-grey" href="<%= ENV['twitter_url'] %>" title="Twitter"><i class="fab fa-twitter"></i></a>
  <a class="w3-button w3-large w3-light-grey" href="<%= ENV['youtube_url'] %>" title="YouTube"><i class="fab fa-youtube"></i></a>
  <a class="w3-button w3-large w3-light-grey" href="<%= ENV['instagram_url'] %>" title="Instagram"><i class="fab fa-instagram"></i></a>
  <a class="w3-button w3-large w3-light-grey" href="<%= ENV['tiktok_url'] %>" title="TikTok"><i class="fab fa-tiktok"></i></a>
  <a class="w3-button w3-large w3-light-grey w3-hide-small" href="<%= ENV['linkedin_url'] %>" title="Linkedin"><i class="fab fa-linkedin-in"></i></a>
</footer>