<!DOCTYPE html>
<html>
  <head>
    <title>Aewa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel = "stylesheet" href = "leaflet/leaflet.css"/>
    <%= Gon::Base.render_data %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/022bdf17ad.js" crossorigin="anonymous"></script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0&appId=536447540863741&autoLogAppEvents=1" nonce="8mCTFX88"></script>
</html>
